/node_modules
.env
/.env
/.next/
/out/
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/sitemap-0.xml
**/public/sitemap.xml
**/public/robots.txt
/build
.DS_Store
*.pem
.env*.local
yarn.lock
/yarn.lock
/.netlify/
/.github/
/.vscode/
/.idea/

public/teachers.json
