/* globals.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  overflow-x: hidden;
}

/* Scrollbar styles for light theme */
*::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: theme("colors.light.scrollbar");
}

*::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.light.scrollbar");
}
*::-webkit-scrollbar-thumb:active {
  background-color: #212f4d;
}

/* Scrollbar styles for dark theme */
.dark *::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

.dark *::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #dfe9eb;
}

.dark *::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

.dark *::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

.dark *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: theme("colors.dark.scrollbar");
}

.dark *::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.dark.scrollbar");
}

.dark *::-webkit-scrollbar-thumb:active {
  background-color: #212f4d;
}
